.container{ 
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;

}
.order-container{
    display: grid;
    grid-template-columns: 40rem;
    grid-template-rows: auto auto 1fr;
}
.order-container h1{
    margin-bottom: 4rem;
    font-size: var(--hm);
    font-weight: 700;
}

/*Información de fecha y valor total*/
.order-container .order-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    border-radius: 0.8rem;

}
.order-container .order-info .datos p:nth-child(1){
    
    font-size: var(--mm);
    font-weight: 700;
}
.order-container .order-info .datos p:nth-child(2){
    
    font-size: var(--sm);
    font-weight: 500;
    color: var(--description);
}

.order-container .order-info .datos2 p:nth-child(1){
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: var(--mm);
    font-weight: 700;
 
}

.order-container .order-info .datos2 p:nth-child(2){
    display: inline-block;
    margin-right:2rem;

}

