.shopping-card-container{ 
    position: absolute;
    top:50.499px;
    right: 0;
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: repeat(4, auto); */
    width: 384px;
    background-color: var(--white);
    box-shadow: 0 0 2px var(--shadow-border);
    
}
.shopping-card-container--unable{
    display: none;
}
.title-bar, .product-info, .order-info{
    margin-left: 20px;
    margin-right: 20px;
}


/*Barra de título e iconos*/
.title-bar{
   
    display: grid;
    grid-template-columns: 20% 80%;
    height: 46px;
    padding:0 20px 0 20px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.046805);
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}
.title-bar img:nth-child(1){
    display: none;
}
.title-bar img:nth-child(2){
    transform: rotate(180deg);
}
    
.shopping-card-container .title-bar span{
    margin-left: 40px;
    font-size: var(--hm);
    font-weight: 700;
}

/*Lista de de productos adquiridos*/
.order-container{
    display: grid;
    grid-template-columns: minmax(280px, 100%);
    grid-template-rows: repeat(auto-fill, 85px);
    height: 250px;
    overflow-y: scroll;
    overscroll-behavior-y:contain;
    scroll-snap-type: y mandatory;

}
.order-container::-webkit-scrollbar{
    width: 5px;
    background-color: var(--primary-color);
}
.order-container .product-info{
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    scroll-snap-align: center;
}
.order-container .product-info div{
    display: flex;
    align-items: center;
}
.order-container .product-info .left-side{
    width: 60%;
}
.order-container .product-info .left-side figure img{
    width: 73px;
    height: 73px;
    border-radius: 20px;
    object-fit: cover;
}
.order-container .product-info .left-side span{
    margin-left: 20px;
    font-size: var(--sm);
    font-weight: 500;
    color: var(--description);
}
.order-container .product-info .right-side p{
    font-size: var(--mm);
    font-weight: 700;
}
.order-container .product-info .right-side img{
    margin-left: 30px;
    
}


/*Información de fecha y valor total*/
.order-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: var(--input-field);

}
.order-info p:nth-child(1){
    
    margin-left: 20px;
}
.order-info p:nth-child(2){
    
    margin-right: 20px;
    
}
.order-info p{
    margin-top: 29px;
    margin-bottom: 20px;
    font-size: var(--mm);
    font-weight: 700;
}
.order-container-button{
    margin: 0 20px 10px;

}

/*Botón Checkout*/

@media(max-width: 820px){
    .shopping-card-container{ 
        height: calc(100vh - 49px);
    }

}
/*Mobile*/
@media(max-width: 640px){
    .shopping-card-container{ 
        width: 100%; 
        height: calc(100vh - 49px);
        top:50px;
    }

}