.main-container{
    width: 90%;
    margin: 0 auto;
}
/*Grid principal de los productos*/
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 20px;
    width: 100%;
    place-content: center;
   
   
}

/*Estilos a los elementos de la clase
products-container(items de la grid)*/
.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.products-container img{
    width: 220px;
    height: 180px;
    border-radius: 0.8rem;
 
   
}

/*Estilos a los elementos internos de la
clase product-info*/
.product-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin-top: 0.5rem;

}
.product-information  div p:nth-child(1){
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    font-size: var(--sm);
    font-weight: 700;
}
.product-information div p:nth-child(2){
    margin-bottom: 0;
    margin-top: 0;
    font-size: var(--sm);
    font-weight: 500;
    color: var(--secondary-color);

}
.product-information figure{
    display: flex;
    margin: 0;
}
.product-information figure img{
    width: 4.3rem;
    height: 4.3rem;
}
/*MOBILE*/
@media(max-width:640px){

    .cards-container{
        
        grid-template-columns: repeat(auto-fill, 180px);
      
    }

    .products-container img{
        width: 180px;
        height: 140px;  
    }
    .product-information{
    
        width: 180px;  
    }
}