.main-container{
    width: 100%;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

main .nav-left--unable{
    display: none;
}
/*Grid principal de los productos*/
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    width: 100%;
    place-content: center;
   
   
}

/*Estilos a los elementos de la clase
products-container(items de la grid)*/
.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.products-container img{
    width: 240px;
    height: 210px;
    border-radius: 0.8rem;
 
   
}

/*Estilos a los elementos internos de la
clase product-info*/
.product-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin-top: 0.5rem;

}
.product-information  div p:nth-child(1){
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    font-size: var(--sm);
    font-weight: 700;
}
.product-information div p:nth-child(2){
    margin-bottom: 0;
    margin-top: 0;
    font-size: var(--sm);
    font-weight: 500;
    color: var(--secondary-color);

}
.product-information figure{
    display: flex;
    margin: 0;
}
.product-information figure img{
    width: 4.3rem;
    height: 4.3rem;
}

/*TABLET*/
@media(max-width: 820px){
    main .nav-left-container{
        position: relative;
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
    }
    
    main .nav-left--unable{
        display: block;
        
    }
    main .nav-left--unable ul{
        margin: 0;
        
    }
}

/*MOBILE*/
@media(max-width: 640px){

    main .nav-left-container{
        display: none;
    }
    main .nav-left--unable{
        display: none;
    }

    .cards-container{
        
        grid-template-columns: repeat(auto-fill, 180px);
      
    }

    .products-container img{
        width: 180px;
        height: 160px;  
    }
    .product-information{
    
        width: 180px;  
    }
}