
header{
    width: auto;
}
nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 0.1rem solid var(--white);
    box-shadow: 0rem 0.3rem 0.4rem rgba(0, 0, 0, 0.046805);   
}
.mobile-menu-icon{
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 2rem;
}
.logo{
    width: 10rem;
    margin-left: 5rem;
}
/*Estilos en conjunto*/
.nav-left, .nav-right{
    display: flex;
   
}
.nav-left ul, .nav-right ul{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

/*Estilos sobre la parte izquierda de navbar */
.nav-left ul{
    margin-left: 4rem;   
}
.nav-left ul li{
    margin-right: 1rem;
}
.nav-left ul li a{
    padding: 0.8rem;
    border: 0.1rem solid var(--white);
    border-radius: 0.8rem;
    font-size: var(--mm);
    font-weight: 700;
    color: var(--secondary-color);
    text-decoration: none;
}
.nav-left ul li a:hover{
    border: 0.1rem var(--primary-color) solid;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
    
}

/*Algunos estilos sobre la parte derecha de navbar*/
.nav-right ul{
    margin-right: 55px;  
}
.nav-right ul .nav-email{
   width: 170px;
   text-align: center;
}
.nav-right ul .nav-email p{
    font-size: var(--sm);
    font-weight: 300;
    color: var(--black);
}
.nav-right ul .nav-email p:hover{
    color: var(--primary-color);
    transform: scale(1.02);
    font-weight: 700;
    cursor: pointer;

}
.nav-right ul .nav-shopping-icon{
    position: relative;
    margin-left: 30px;
}
.nav-right ul .nav-shopping-icon img{
    width: 25px;
    height: 25px;
}
.nav-right ul .nav-shopping-icon .nav-indicator{
    position: absolute;
    top: -4px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: var(--primary-color);

}


@media(max-width: 940px){
    .nav-left img{
        display: none;
    }
}

@media(max-width: 790px){
    .mobile-menu-icon{
        display: block;
    }
    .nav-left ul{
        display: none;
    }
    .nav-left img{
        display: block;
    }
    .nav-right ul{
        margin-right: 20px;
    }
    .nav-right ul .nav-email{
        display: none;
    }
    
}

