.container{ 
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    box-shadow: 0rem 0rem 0.6rem var(--shadow-border);
    top: 0;
    right: 0;
  
}
.order-container{
    display: grid;
    grid-template-columns: minmax(25rem, 40rem);
    grid-template-rows: auto auto auto auto;
    align-items: center;  
}
.title-bar, .product-info, .order-info, .primary-button{
    margin-left: 20px;
    margin-right: 20px;
}


/*Barra de título e iconos*/
.title-bar{
    padding:20px 0 20px 20px;
    margin-bottom: 20px;
    text-justify: center;
}
.order-container .title-bar img:nth-child(1){
    display: none;
}
.order-container .title-bar img:nth-child(2){
    transform: rotate(180deg);
}
    
.order-container span{
    margin-left: 40px;
    font-size: var(--hm);
    font-weight: 700;
}

/*Lista de de productos adquiridos*/
.order-container .product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.order-container .product-info div{
    display: flex;
    align-items: center;
}
.order-container .product-info .left-side figure img{
    width: 76px;
    height: 76px;
    border-radius: 20px;
    /* object-fit: cover; */
}
.order-container .product-info .left-side span{
    margin-left: 20px;
    font-size: var(--sm);
    font-weight: 500;
    color: var(--description);
}
.order-container .product-info .right-side p{
    font-size: var(--mm);
    font-weight: 700;
}
.order-container .product-info .right-side img{
    margin-left: 30px;
    
}


/*Información de fecha y valor total*/
.order-container .order-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    margin-top: 25px;
    margin-bottom: 18px;
    border-radius: 8px;
    background-color: var(--input-field);

}
.order-container .order-info p:nth-child(1){
    
    margin-left: 20px;
}
.order-container .order-info p:nth-child(2){
    
    margin-right: 20px;
   
    
}
.order-container .order-info p{
    margin-top: 29px;
    margin-bottom: 29px;
    font-size: var(--mm);
    font-weight: 700;
}

/*Botón Checkout*/
.primary-button{

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 8px;
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: var(--mm);
    font-weight: bold;
    cursor: pointer;
}
/*Mobile*/
@media(max-width: 640px){
    .title-bar{
        display: grid;
        grid-template-columns: 20% 80%;
        height: 46px;
        padding:0 20px 0 20px;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.046805);
        margin-right: 0;
        margin-left: 0;
        

    }
    .order-container .title-bar img:nth-child(1){
        display: block;
        width: 23px;
        height: 17px;
        
    }
    .order-container .title-bar img:nth-child(2){
        display: none;
    }

    .order-container .order-info{
        margin-top: 0;
        margin-bottom: 18px;
        
    
    }
}  